<div class="theme-primary_background">
  <mat-language classList="theme-primary_background_300"></mat-language>
</div>

App
<p>
  Selected language
  <ng-container *ngIf="languageService.business.getActiveLanguage() as language">
    <span>{{ language.name }}</span>
  </ng-container>
</p>

<p>Pipe translate: <span>{{'hello' | translate}}</span></p>
<p>Directive translate: <span translate="hello"></span></p>
<p>
  Service translate
  <ng-container *ngIf="translateService.model.languageTranslations('app') | async as translation">
    <span>{{ translation['hello'] }}</span>
  </ng-container>
</p>

Feature
<p>Pipe feature translate: <span>{{'hello' | translate:'feature'}}</span></p>
<p>Directive translate: <span translate="hello" translateFeature="feature"></span></p>
<p>
  Service translate
  <ng-container *ngIf="translateService.model.languageTranslations('feature') | async as translation">
    <span>{{ translation['hello'] }}</span>
  </ng-container>
</p>
